
footer{
      background-color: #F2F2F2;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
      padding: 30px;
      margin-top:30px;
}



.footer-list {
    display: flex; 
    flex-direction: column;
    justify-content:flex-start;
    padding-right: 20%;

}
.footer-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
}
.footer-list li a {
    text-decoration: none;
    color: black;
    font-size: smaller;
}
.footer-list li{
    margin-bottom: 10px;
}

@media  screen and (min-width: 768px) and (max-width: 992px)  {
   .footer-list{
    margin-left: 30px;
   }
}