.popular_places{
    width: 25%;
    background-color: #F2F2F2;
    margin-left: 2em;
    padding: 3%;
    border-radius: 10px;
   
}

.popular_places_title{
     display: flex; 
  justify-content: space-between
}

#popular_star{
    margin-top: 20px;
}



@media screen and (max-width: 768px) {

    .popular_places{
        order:1; 
        width: 100%;
        
    }

 
}